*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Assets/Background.png);
    height: 100vh;
}
.container{
    width: 400px;
    
}
.box1{

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border:none;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(./Assets/Pattern.png);
    background-color: blue;
    color: white;


}
.para{
    color: rgb(164, 162, 162);
}
.box2{

    padding: 10px;
    text-align: center;
    background-color: white;
    height: 350px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px ;

}
.form{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid hsl(223deg, 16%, 83%);
    align-items: left;
    display: flex;
}
input::placeholder{
    color: hsl(223deg, 16%, 83%);
}
.btn{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: hsl(224deg, 87%, 94%);
    background-color: hsl(226deg, 89%, 54%);
}
.para1{
    color: rgb(164, 162, 162);
    /* align-items: left; */
    text-align: left;
    /* display: flex; */
    padding: 10px;
}
.profile img{
    position: relative;
    left: -100px;
    top: 35px;
    
}
.name{
    position: relative;
    top: -10px;
}
.profile p{
    color: rgb(164, 162, 162);
}
.test{
    color: rgb(164, 162, 162);
    justify-content: center;
    text-align: center;
    padding: 30px;
}

